<template>
  <Layout>
    <!-- Replace everything inside this Layout with your own content -->
    <!-- The main container CSS classes are in `src/layouts/Default.vue` -->
    Hello world!
    Welcome to {{ $static.metadata.siteName }}
  </Layout>
</template>

<static-query>
query {
  metadata {
    siteName
  }
}
</static-query>

<script>
const title = 'Skeleton site'
export default {
  metaInfo: {
    title: title,
    // Override social tag info as needed
    meta: [
      {
        key: 'og:title',
        name: 'og:title',
        content: title
      },
      {
        key: 'og:description',
        name: 'og:description',
        content: 'Custom page description'
      },
      {
        key: 'twitter:title',
        name: 'twitter:title',
        content: title
      },
      {
        key: 'twitter:description',
        name: 'twitter:description',
        content: 'Custom page description'
      }
    ]
  }
}
</script>
